<form method="POST">
  <label for="name-input">Username</label>
  <input id="name-input" type="text" name="username" placeholder="Valid Username" required/>

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Strong Password" required/>

  <button>Sign In</button>
</form>